body{
    background-color: rgb(197, 197, 197);
    color: darkviolet;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: normal;
    /*Same as above*/
    /*font: normal 14px  Verdana, Geneva, Tahoma, sans-serif;*/

    line-height: 1.8em;
    margin: 0px;
}

h1{
    font-size: 32px;
    font-weight: bold;
    font-style: italic;
}

.box-1{
    background-color: aliceblue;
    color: crimson;

    border-left: 5px crimson solid;
}

.container{
    width: 80%;
    margin: auto;
}

.box-2{
    background-color: aliceblue;
    color: crimson;

    border: 5px rgb(255, 93, 255) solid;
}

